body {
  background-color: rgb(34,50,60);
  /* background-image: url('//ssl.gstatic.com/docs/forms/themes/images/v1/1ed53972f75c8840d78f0750e173fedf55e88d9c8153ddf5c3c3237fe29275a9/stars-bg.png'); */
  background-repeat: repeat;
  background-position: left top;
}

.ss-form-container, .ss-resp-card {
  background-color: rgb(254,255,254);
}

.ss-footer, .ss-response-footer {
  background-color: rgb(254,255,254);
}

.ss-grid-row-odd {
  background-color: rgb(241,242,241);
}

.ss-form-container, .ss-resp-card {
  border-color: rgb(20,20,20);
}

.ss-form-title {
  text-align: center;
}

.ss-form-title[dir="rtl"] {
  text-align: center;
}

.ss-form-desc {
  text-align: center;
}

.ss-form-desc[dir="rtl"] {
  text-align: center;
}

.ss-header-image-container {
  height: 0;
}

.ss-item {
  /* font-size: 1.080rem; */
}

.ss-choices {
  /* font-size: 1.000rem; */
}

body {
  font-family: "Open Sans";
  color: rgb(118,118,118);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.ss-record-username-message {
  font-family: "Open Sans";
  color: rgb(118,118,118);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.ss-form-title {
  font-family: "Open Sans";
  color: rgb(0,120,175);
  font-weight: 400;
  /* font-size: 2.000rem; */
  font-style: normal;
}

.ss-confirmation {
  font-family: "Open Sans";
  color: rgb(0,120,175);
  font-weight: 400;
  /* font-size: 2.000rem; */
  font-style: normal;
}

.ss-page-title, .ss-section-title {
  font-family: "Open Sans";
  color: rgb(0,120,175);
  font-weight: 400;
  /* font-size: 1.500rem; */
  font-style: normal;
}

.ss-form-desc, .ss-page-description, .ss-section-description {
  font-family: "Open Sans";
  color: rgb(120,120,120);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.ss-resp-content {
  font-family: "Open Sans";
  color: rgb(118,118,118);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.ss-q-title {
  font-family: "Open Sans";
  color: rgb(74,133,160);
  font-weight: 700;
  /* font-size: 1.080rem; */
  font-style: normal;
}

.ss-embeddable-object-container .ss-q-title {
  font-family: "Open Sans";
  color: rgb(74,133,160);
  font-weight: 700;
  /* font-size: 1.500rem; */
  font-style: normal;
}

.ss-q-help, .ss-q-time-hint {
  font-family: "Open Sans";
  color: rgb(100,100,100);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.ss-choice-label, .video-secondary-text, .ss-gridrow-leftlabel, .ss-gridnumber, .ss-scalenumber, .ss-leftlabel, .ss-rightlabel {
  font-family: "Open Sans";
  color: rgb(60,60,60);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.error-message, .required-message, .ss-required-asterisk {
  font-family: "Open Sans";
  color: rgb(196,59,29);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.ss-send-email-receipt {
  font-family: "Open Sans";
  color: rgb(59,126,155);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.ss-password-warning {
  font-family: "Arial";
  color: rgb(100,100,100);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: italic;
}

.disclaimer {
  font-family: "Arial";
  color: rgb(100,100,100);
  font-weight: 400;
  /* font-size: 0.850rem; */
  font-style: normal;
}

.ss-footer-content {
  font-family: "Arial";
  color: rgb(60,60,60);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

.progress-label {
  font-family: "Open Sans";
  color: rgb(100,100,100);
  font-weight: 400;
  /* font-size: 1.000rem; */
  font-style: normal;
}

a:link {
  color: rgb(0,0,238);
}

a:visited {
  color: rgb(85,26,139);
}

a:active {
  color: rgb(252,0,0);
}

input[type='text'], input:not([type]), textarea {
  /* font-size: 1.000rem; */
}

.error, .required, .errorbox-bad {
  border-color: rgb(196,59,29);
}

.jfk-progressBar-nonBlocking .progress-bar-thumb {
  background-color: rgb(100,100,100);
}

.ss-logo-image {
  background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_2_small_dark.png');
  background-size: 108px 21px;
  width: 108px;
  height: 21px;
}

@media screen and (-webkit-device-pixel-ratio: 2) {
.ss-logo-image {
  background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_2_small_dark_2x.png');
  background-color: gray;
}
}
